h1, h3, p, span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-item {
    font-size: 16px;
    color: grey;
    margin-left: 20px;
}

.publish-navbar-item {
    color: mediumblue;
    font-weight: 600;
}

.header-item {
    font-size: 16px;
    color: grey;
}

.p-letter {
    color: darkgreen;
}

hr {
    border: 1px solid grey;
}

.main-item {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 5px;
}

.main-container {
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.rectangle {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
}

.rectangle-content {
    display: flex;
    justify-content: space-between;
}

.p-letter-rectangle {
    width: 30px;
    margin-top: 10px;
    height: 30px;
    background-color: lightgreen;
    margin-left: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;    
}

.heading-body {
    height: 100vh;
}

.description-text {
    margin-bottom: 70px;
    color: grey;
    font-size: 18px;
}

.heading-input {
    font-size: inherit; 
    font-weight: inherit;
    border: none; 
    outline: none; 
    width: 100%;
}

.heading-list {
    list-style: none; 
    border: 1px solid grey; 
    width: 300px; 
    height: auto;
    border-radius: 10px;
    padding: 0;
    padding-bottom: 10px !important;
}

.add-blocks-text {
    margin: 0;
    margin-left: 20px;
    margin-top: 20px;
}

.filter-text {
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
    color: grey;
    font-size: 14px;
}

.keyword-text {
    margin-left: 20px;
    color: grey;
}

.heading-item {
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

.heading-item-text {
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
    color: grey;
}

.edit-heading-input {
    font-size: inherit;
    font-weight: inherit;
    border: none;
    outline: none;
    background-color: white;
    color: black;
}

.heading-list-content {
    padding: 5px;
    padding-bottom: 10px;
}

.heading-list-content:hover {
    background-color: aliceblue;
}

.rabbit-icon {
    margin-right: 5px;
    margin-left: 5px;
}